.weather__cards {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    padding: 0.5em;
}

.weather__cards article {
    transition: scale 0.5s ease-in-out;
}

.weather__cards article:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {

    .weather__cards {
        display: flex;
        flex-direction: column;
    }

    .weather__cards__currentDay {
        order: 1;
    }

    .weather__cards__nextDay {
        order: 2;
    }

    .weather__cards__dayAfterNext {
        order: 3;
    }
}

