.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto;
}

.search__suggestions {
    margin: 0 auto;
    position: absolute;
    background: black;
    color: white;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}


