.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    background-color: #fff;
    color: black;
    width: 20em;
    height: 20em;
    box-shadow: 0 0 1em #ccc;

}

.weather__city {
    display: flex;
    margin: 1em;
    align-items: center;
}

.weather__condition {
    margin: 1em;
}

