.app {
  font-family: HelveticaNeue-Thin, Helvetica, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

ul {
  border: 1px solid #ccc;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

.sunny {
  background: #FFEA80;
}

.cloudy {
  background: #A5ABAF;
}

.rainy {
  background: #3943B7;
  color: white;
}

.misty {
  background: #A4BAB7;
}

.snowy {
  background: #BBE5ED;
}

.night {
  background: #1F2232;
  color: white;
}